<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Matcha</title>

<!-- Favicon -->
<link rel="shortcut icon" href="images/matcha.ico" />

<!-- bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />

<!-- mega menu -->
<link href="css/mega-menu/mega_menu.css" rel="stylesheet" type="text/css" />

<!-- font awesome -->
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />

<!-- Flaticon -->
<link href="css/flaticon.css" rel="stylesheet" type="text/css" />

<!-- owl-carousel -->
<link href="css/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />

<!-- General style -->
<link href="css/general.css" rel="stylesheet" type="text/css" />

<!-- main style -->
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

<!--=================================
 preloader -->
<div id="preloader">
  <div class="clear-loading loading-effect"><img src="images/loading.gif" alt="" /></div>
</div>
<!--=================================
header -->

<header id="header" class="dark">
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="topbar-left text-left">
            <ul class="list-inline">
              <li><a href="mailto:support@matcha.com"><i class="fa fa-envelope-o"> </i> support@matcha.com </a></li>
              <li><a href="tel:(007)1234567890"><i class="fa fa-phone"></i> (+27) 123 456 7890 </a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="topbar-right text-right">
            <ul class="list-inline social-icons color-hover">
              <li class="social-facebook"><a href="#"><i class="fa fa-github"></i></a></li>
            </ul>
            <ul class="list-inline text-uppercase top-menu">
              <li><a href="index.html">logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--=================================
 mega menu -->
  
  <div class="menu"> 
    <!-- menu start -->
    <nav id="menu" class="mega-menu"> 
      <!-- menu list items container -->
      <section class="menu-list-items">
        <div class="container">
          <div class="row">
            <div class="col-md-12"> 
              <!-- menu logo -->
              <ul class="menu-logo">
                <li> <a href="home.html"><h2 class="text-white">Matcha</h2></a> </li>
              </ul>
              <!-- menu links -->
              
          </div>
        </div>
      </section>
    </nav>
    <!-- menu end --> 
  </div>
</header>

<!--=================================
 header --> 

<!--=================================
 banner -->

<!--=================================
 banner --> 

<!--=================================
 Page Section -->

<section class="page-section-ptb profile-slider">
  <div class="container">
    <div class="row justify-content-center mb-5 sm-mb-3">
      <div class="col-md-8 text-center">
        <h2 class="title divider">Your Matches</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 sm-mb-3"><div class="profile-item-hover"> <a href="profile-details.html" class="profile-item">
        <div class="profile-image clearfix"><img class="img-fluid" src="images/profile/01.jpg" alt="" /></div>
        <div class="profile-details profile-text">
          <h5 class="title">Jimmy Perez</h5>
          <span class="text-black">23 Years Old</span> </div>
        </a> </div></div>
      <div class="col-md-3 sm-mb-3"><div class="profile-item-hover"> <a href="profile-details.html" class="profile-item">
        <div class="profile-image clearfix"><img class="img-fluid" src="images/profile/02.jpg" alt="" /></div>
        <div class="profile-details profile-text">
          <h5 class="title">Curtis Massey</h5>
          <span class="text-black">21 Years Old</span> </div>
        </a> </div></div>
      <div class="col-md-3 sm-mb-3"><div class="profile-item-hover"> <a href="profile-details.html" class="profile-item">
        <div class="profile-image clearfix"><img class="img-fluid" src="images/profile/03.jpg" alt="" /></div>
        <div class="profile-details profile-text">
          <h5 class="title">Mike Carter</h5>
          <span class="text-black">19 Years Old</span> </div>
        </a> </div></div>
      <div class="col-md-3"><div class="profile-item-hover"> <a href="profile-details.html" class="profile-item">
        <div class="profile-image clearfix"><img class="img-fluid" src="images/profile/04.jpg" alt="" /></div>
        <div class="profile-details profile-text">
          <h5 class="title">Cecelia Torres</h5>
          <span class="text-black">20 Years Old</span> </div>
        </a> </div></div>
    </div>
  </div>
</section>

<section class="page-section-ptb pt-3 profile-slider">
  <div class="container">
    <div class="row justify-content-center mb-5 sm-mb-3">
      <div class="col-md-8 text-center">
        <h2 class="title divider">Match Results</h2>
      </div>
    </div>
    <div class="row mb-5 sm-mb-3">
      <div class="col-md-3 sm-mb-3"><div class="profile-item-hover-1"> <a href="profile-details.html" class="profile-item">
        <div class="profile-image clearfix"><img class="img-fluid" src="images/profile/01.jpg" alt="" /> </div>
        <div class="profile-details profile-text">
          <h5 class="title">Martin Harris</h5>
          <span class="text-black">23 Years Old</span> </div>
        </a> </div></div>
      <div class="col-md-3 sm-mb-3"><div class="profile-item-hover-1"> <a href="profile-details.html" class="profile-item">
        <div class="profile-image clearfix"><img class="img-fluid" src="images/profile/02.jpg" alt="" /> </div>
        <div class="profile-details profile-text">
          <h5 class="title">Samuel Russell</h5>
          <span class="text-black">21 Years Old</span> </div>
        </a> </div></div>
      <div class="col-md-3 sm-mb-3"><div class="profile-item-hover-1"> <a href="profile-details.html" class="profile-item">
        <div class="profile-image clearfix"><img class="img-fluid" src="images/profile/03.jpg" alt="" /> </div>
        <div class="profile-details profile-text">
          <h5 class="title">Mittie Webster</h5>
          <span class="text-black">19 Years Old</span> </div>
        </a> </div></div>
      <div class="col-md-3"><div class="profile-item-hover-1"> <a href="profile-details.html" class="profile-item">
        <div class="profile-image clearfix"><img class="img-fluid" src="images/profile/04.jpg" alt="" /> </div>
        <div class="profile-details profile-text">
          <h5 class="title">Brent Rhodes</h5>
          <span class="text-black">20 Years Old</span> </div>
        </a> </div></div>
    </div>
    <div class="row mb-5 sm-mb-3">
      <div class="col-md-3 sm-mb-3"><div class="profile-item-hover-1"> <a href="profile-details.html" class="profile-item">
        <div class="profile-image clearfix"><img class="img-fluid" src="images/profile/05.jpg" alt="" /> </div>
        <div class="profile-details profile-text">
          <h5 class="title">Lillian Higgins</h5>
          <span class="text-black">22 Years Old</span> </div>
        </a> </div></div>
      <div class="col-md-3 sm-mb-3"><div class="profile-item-hover-1"> <a href="profile-details.html" class="profile-item">
        <div class="profile-image clearfix"><img class="img-fluid" src="images/profile/06.jpg" alt="" /> </div>
        <div class="profile-details profile-text">
          <h5 class="title">Duane Vaughn</h5>
          <span class="text-black">23 Years Old</span> </div>
        </a> </div></div>
      <div class="col-md-3 sm-mb-3"><div class="profile-item-hover-1"> <a href="profile-details.html" class="profile-item">
        <div class="profile-image clearfix"><img class="img-fluid" src="images/profile/07.jpg" alt="" /> </div>
        <div class="profile-details profile-text">
          <h5 class="title">Celia Wolfe</h5>
          <span class="text-black">19 Years Old</span> </div>
        </a> </div></div>
      <div class="col-md-3"><div class="profile-item-hover-1"> <a href="profile-details.html" class="profile-item">
        <div class="profile-image clearfix"><img class="img-fluid" src="images/profile/08.jpg" alt="" /> </div>
        <div class="profile-details profile-text">
          <h5 class="title">Adeline Roberts</h5>
          <span class="text-black">22 Years Old</span> </div>
        </a> </div></div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center"> <a class="button  btn-lg btn-theme full-rounded animated right-icn"><span>Show More<i class="glyph-icon flaticon-hearts" aria-hidden="true"></i></span></a> </div>
    </div>
  </div>
</section>

<!--=================================
footer -->

<!--=================================
footer --> 

<!--=================================
Color Customizer -->

<div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-level-up"></i></a></div>

<!--=================================
 jquery --> 
 
<!-- jquery  --> 
<script type="text/javascript" src="js/jquery.min.js"></script> 
<script type="text/javascript" src="js/popper.min.js"></script> 

<!-- bootstrap --> 
<script type="text/javascript" src="js/bootstrap.min.js"></script> 
<script type="text/javascript" src="js/bootstrap-select.min.js"></script> 

<!-- appear --> 
<script type="text/javascript" src="js/jquery.appear.js"></script> 

<!-- Menu --> 
<script type="text/javascript" src="js/mega-menu/mega_menu.js"></script> 

<!-- owl-carousel --> 
<script type="text/javascript" src="js/owl-carousel/owl.carousel.min.js"></script> 

<!-- custom --> 
<script type="text/javascript" src="js/custom.js"></script>
</body>

</html>