<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title> <%=title%> </title>

<!-- Favicon -->
<link rel="shortcut icon" href="images/matcha.ico" />

<!-- bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />

<!-- mega menu -->
<link href="css/mega-menu/mega_menu.css" rel="stylesheet" type="text/css" />

<!-- font-awesome -->
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />

<!-- Flaticon -->
<link href="css/flaticon.css" rel="stylesheet" type="text/css" />

<!-- Magnific popup -->
<link href="css/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />

<!-- owl-carousel -->
<link href="css/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />

<!-- General style -->
<link href="css/general.css" rel="stylesheet" type="text/css" />

<!-- main style -->
<link href="css/style.css" rel="stylesheet" type="text/css" />

</head>

<body>

<!--=================================
 preloader -->

<!-- <div id="preloader">
  <div class="clear-loading loading-effect"><img src="images/loading.gif" alt="" /></div>
</div> -->

<!--=================================
 preloader --> 

<!--=================================
header -->

<header id="header" class="dark">
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="topbar-left text-left">
            <ul class="list-inline">
              <li><a href="mailto:support@website.com"><i class="fa fa-envelope-o"> </i> support@matcha.com </a></li>
              <li><a href="tel:(007)1234567890"><i class="fa fa-phone"></i> (+27) 81 6277 667 </a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="topbar-right text-right">
            <ul class="list-inline social-icons color-hover">
              <li class="social-facebook"><a href="https://github.com/Tomxss/Matcha"><i class="fa fa-github"></i></a></li>
            </ul>
            <ul class="list-inline text-uppercase top-menu">
              <%for (i = 0; i < topBar.length; i++) {%>
              <li><a href="<%=topBar[i].link%>"><%=topBar[i].title%></a></li>
              <%}%>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  </div>
</header>

<!--=================================
 header --> 

<!--=================================
 banner -->

<section id="home-slider" class="fullscreen">
  <div id="main-slider" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner"> 
      <!--/ Carousel item end -->
      <div class="carousel-item active h-100 bg-overlay-red" style="background: url(images/bg/bg-1.jpg) no-repeat 0 0; background-size: cover;" >
        <div class="slider-content">
          <div class="container">
            <div class="row carousel-caption align-items-center h-100">
              <div class="col-md-12 text-left">
                <div class="slider-1">
                  <h1 class="animated2 text-white">Struggling to <span>Find</span> that <span> Special</span> person?</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item h-100 bg-overlay-red" style="background: url(images/bg/bg-2.jpg) no-repeat 0 0; background-size: cover;">
        <div class="slider-content">
          <div class="container">
            <div class="row carousel-caption align-items-center h-100">
              <div class="col-md-12 text-right">
                <div class="slider-1">
                  <h1 class="animated7 text-white"><span>Meet</span> your <span>dream</span> come true!</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ Carousel item end --> 
    </div>
    <!-- Controls --> 
    <a class="left carousel-control" href="#main-slider" data-slide="prev"> <span><i class="fa fa-angle-left"></i></span> </a> <a class="right carousel-control" href="#main-slider" data-slide="next"> <span><i class="fa fa-angle-right"></i></span> </a> </div>
</section>

<!--=================================
 banner --> 

<!--=================================
 Page Section -->


<!--=================================
 Page Section -->

<section class="page-section-ptb position-relative timeline-section">
  <div class="container">
    <div class="row justify-content-center mb-5 sm-mb-3">
      <div class="col-md-10 text-center">
        <h2 class="title divider mb-3">Steps to finding your Soul Mate</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed <br/>
          do eiusmod tempor incididunt ut labore et dolore magna</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-12">
        <ul class="timeline list-inline">
          <li>
            <div class="timeline-badge"><img class="img-fluid" src="images/timeline/01.png" alt="" /></div>
            <div class="timeline-panel">
              <div class="timeline-heading text-center">
                <h4 class="timeline-title divider-3">CREATE PROFILE</h4>
              </div>
              <div class="timeline-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  enim ad minim veniam, quis</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge"><img class="img-fluid" src="images/timeline/02.png" alt="" /></div>
            <div class="timeline-panel">
              <div class="timeline-heading text-center">
                <h4 class="timeline-title divider-3">Find match</h4>
              </div>
              <div class="timeline-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  enim ad minim veniam, quis</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge"><img class="img-fluid" src="images/timeline/03.png" alt="" /></div>
            <div class="timeline-panel">
              <div class="timeline-heading text-center">
                <h4 class="timeline-title divider-3">START DATING</h4>
              </div>
              <div class="timeline-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  enim ad minim veniam, quis</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="page-section-ptb  text-white" style="background: url(images/pattern/02.png) no-repeat 0 0; background-size: cover;">
  <div class="container">
    <div class="row justify-content-center mb-5 sm-mb-3">
      <div class="col-md-8 text-center">
        <h2 class="title divider">Dating Pool</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 text-center">
        <div class="counter"> <img src="images/counter/01.png" alt="" /> <span class="timer" data-to="1600" data-speed="10000">1600</span>
          <label>Total Members</label>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="counter"> <img src="images/counter/02.png" alt="" /> <span class="timer" data-to="750" data-speed="10000">750</span>
          <label>Online Members</label>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="counter"> <img src="images/counter/03.png" alt="" /> <span class="timer" data-to="380" data-speed="10000">380</span>
          <label>Men Online</label>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="counter"> <img src="images/counter/04.png" alt="" /> <span class="timer" data-to="370" data-speed="10000">370</span>
          <label>Women Online</label>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="page-section-ptb profile-slider pb-3 sm-pb-6">
  <div class="container">
    <div class="row justify-content-center mb-2 sm-mb-0">
      <div class="col-md-8 text-center">
        <h2 class="title divider">Our Top Picks</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="owl-carousel" data-nav-arrow="true" data-items="4" data-lg-items="4" data-md-items="3" data-sm-items="2" data-space="30">
          <div class="item"> <a href="profile-details.html" class="profile-item">
            <div class="profile-image clearfix"><img class="img-fluid w-100" src="images/profile/01.jpg" alt="" /></div>
            <div class="profile-details text-center">
              <h5 class="title">Bill Nelson</h5>
              <span>23 Years Old</span> </div>
            </a> </div>
          <div class="item"> <a href="profile-details.html" class="profile-item">
            <div class="profile-image clearfix"><img class="img-fluid w-100" src="images/profile/02.jpg" alt="" /></div>
            <div class="profile-details text-center">
              <h5 class="title">Francisco Pierce</h5>
              <span>21 Years Old</span> </div>
            </a> </div>
          <div class="item"> <a href="profile-details.html" class="profile-item">
            <div class="profile-image clearfix"><img class="img-fluid w-100" src="images/profile/03.jpg" alt="" /></div>
            <div class="profile-details text-center">
              <h5 class="title">Nelle Townsend</h5>
              <span>19 Years Old</span> </div>
            </a> </div>
          <div class="item"> <a href="profile-details.html" class="profile-item">
            <div class="profile-image clearfix"><img class="img-fluid w-100" src="images/profile/04.jpg" alt="" /></div>
            <div class="profile-details text-center">
              <h5 class="title">Glen Bell</h5>
              <span>20 Years Old</span> </div>
            </a> </div>
          <div class="item"> <a href="profile-details.html" class="profile-item">
            <div class="profile-image clearfix"><img class="img-fluid w-100" src="images/profile/05.jpg" alt="" /></div>
            <div class="profile-details text-center">
              <h5 class="title">Bill Nelson</h5>
              <span>22 Years Old</span> </div>
            </a> </div>
          <div class="item"> <a href="profile-details.html" class="profile-item">
            <div class="profile-image clearfix"><img class="img-fluid w-100" src="images/profile/06.jpg" alt="" /></div>
            <div class="profile-details text-center">
              <h5 class="title">Francisco Pierce</h5>
              <span>23 Years Old</span> </div>
            </a> </div>
          <div class="item"> <a href="profile-details.html" class="profile-item">
            <div class="profile-image clearfix"><img class="img-fluid w-100" src="images/profile/07.jpg" alt="" /></div>
            <div class="profile-details text-center">
              <h5 class="title">Nelle Townsend</h5>
              <span>19 Years Old</span> </div>
            </a> </div>
          <div class="item"> <a href="profile-details.html" class="profile-item">
            <div class="profile-image clearfix"><img class="img-fluid w-100" src="images/profile/08.jpg" alt="" /></div>
            <div class="profile-details text-center">
              <h5 class="title">Glen Bell</h5>
              <span>22 Years Old</span> </div>
            </a> </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="page-section-ptb o-hidden grey-bg">
  <div class="container">
    <div class="row justify-content-center mb-5 sm-mb-0">
      <div class="col-md-10 text-center">
        <h2 class="title divider mb-3">Why choose use?</h2>
        <p class="lead">Eum cu tantas legere complectitur, hinc utamur ea eam. Eum patrioque mnesarchum eu, diam erant convenire et vis. Et essent evertitur sea, vis cu ubique referrentur, sed eu dicant expetendis. Eum cu</p>
      </div>
    </div>
    <div class="row justify-content-center mb-5 sm-mb-3">
      <div class="col-md-10 text-center">
        <h4 class="title divider-3 text-uppercase">Meet the Developers!</h4>
      </div>
    </div>
    <div class="row mb-5 sm-mb-2 justify-content-center">
      <div class="col-lg-3 col-md-6">
        <div class="team team-1">
          <div class="team-images"> <img class="img-fluid" src="images/team/team2.png" alt="" /> </div>
          <div class="team-description">
            <div class="team-tilte">
              <h5 class="title"><a href="team-single.html">Theunis Coetzee</a></h5>
              <span>Front-end Developer</span> </div>
            <p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc.</p>
            <div class="team-social-icon social-icons color-hover">
              <ul>
                <li class="social-facebook"><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="social-gplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li class="social-dribbble"><a href="#"><i class="fa fa-github"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="team team-1">
          <div class="team-images"> <img class="img-fluid" src="images/team/team3.png" alt="" /> </div>
          <div class="team-description">
            <div class="team-tilte">
              <h5 class="title"><a href="team-single.html">Shane Van Niekerk</a></h5>
              <span>Back-end Developer</span> </div>
            <p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc.</p>
            <div class="team-social-icon social-icons color-hover">
              <ul>
                <li class="social-facebook"><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="social-gplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li class="social-dribbble"><a href="#"><i class="fa fa-github"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <div class="about-cntn">
          <h5 class="title divider-3 text-uppercase mb-3">About Matcha</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="about-cntn">
          <h5 class="title divider-3 text-uppercase mb-3">Stack</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="about-cntn sm-mb-0">
          <h5 class="title divider-3 text-uppercase mb-3">WeThinkCode_</h5>
          <p class="sm-mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--=================================
 page-section -->

<!--=================================
footer -->


<!--=================================
footer --> 

<div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-level-up"></i></a></div>

<!--=================================
 jquery --> 

<!-- jquery  --> 
<script type="text/javascript" src="js/jquery.min.js"></script> 
<script type="text/javascript" src="js/popper.min.js"></script> 

<!-- bootstrap --> 
<script type="text/javascript" src="js/bootstrap.min.js"></script> 
<script type="text/javascript" src="js/bootstrap-select.min.js"></script> 

<!-- appear --> 
<script type="text/javascript" src="js/jquery.appear.js"></script> 

<!-- Menu --> 
<script type="text/javascript" src="js/mega-menu/mega_menu.js"></script> 

<!-- owl-carousel --> 
<script type="text/javascript" src="js/owl-carousel/owl.carousel.min.js"></script> 

<!-- counter --> 
<script type="text/javascript" src="js/counter/jquery.countTo.js"></script> 

<!-- Magnific Popup --> 
<script type="text/javascript" src="js/magnific-popup/jquery.magnific-popup.min.js"></script> 

<!-- custom --> 
<script type="text/javascript" src="js/custom.js"></script>
</body>

</html>