<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Matcha | Log in</title>

<!-- Favicon -->
<link rel="shortcut icon" href="images/matcha.ico" />

<!-- bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />

<!-- mega menu -->
<link href="css/mega-menu/mega_menu.css" rel="stylesheet" type="text/css" />

<!-- font-awesome -->
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />

<!-- Flaticon -->
<link href="css/flaticon.css" rel="stylesheet" type="text/css" />

<!-- General style -->
<link href="css/general.css" rel="stylesheet" type="text/css" />

<!-- main style -->
<link href="css/style.css" rel="stylesheet" type="text/css" />

</head>

<body>

<!--=================================
 preloader -->

<div id="preloader">
  <div class="clear-loading loading-effect"><img src="images/loading.gif" alt="" /></div>
</div>

<!--=================================
 preloader --> 

<!--=================================
 header -->

 <header id="header" class="dark">
    <div class="topbar">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="topbar-left text-left">
              <ul class="list-inline">
                <li><a href="mailto:support@website.com"><i class="fa fa-envelope-o"> </i> support@matcha.com </a></li>
                <li><a href="tel:(007)1234567890"><i class="fa fa-phone"></i> (+27) 81 6277 667 </a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="topbar-right text-right">
              <ul class="list-inline social-icons color-hover">
                <li class="social-facebook"><a href="https://github.com/Tomxss/Matcha"><i class="fa fa-github"></i></a></li>
              </ul>
              <ul class="list-inline text-uppercase top-menu">
                <li><a href="register.html">register</a></li>
                <li><a href="login.html">login</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
   
    </div>
  </header>

<!--=================================
 header --> 

<!--=================================
 inner-intro-->

<section class="inner-intro bg bg-fixed bg-overlay-black-60" style="background-image:url(images/bg/inner-bg-1.jpg);">
  <div class="container">
    <div class="row intro-title text-center">
      <div class="col-md-12">
        <div class="section-title">
          <h1 class="position-relative divider">Login</h1>
        </div>
      </div>
      <div class="col-md-12 mt-7">
        <ul class="page-breadcrumb">
          <li><a href="index.html"><i class="fa fa-star"></i>Welcome</a> <i class="fa fa-angle-double-right"></i></li>
          <li><span>Login</span> </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!--=================================
 inner-intro--> 

<!--=================================
 login-->

<section class="login-form dark-bg page-section-ptb bg-overlay-black-30 bg" style="background: url(images/pattern/02.png) no-repeat 0 0;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="login-1-form clearfix text-center">
          <h4 class="title divider-3 text-white">LOG IN</h4>
          <div class="login-1-social mt-5 mb-5 text-center clearfix">
            <ul class="list-inline text-capitalize">
              <li><a class="fb" href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
              <li><a class="gplus" href="#"><i class="fa fa-google-plus"></i> google+</a></li>
            </ul>
          </div>
          <div class="section-field mb-2">
            <div class="field-widget"> <i class="glyph-icon flaticon-user"></i>
              <input id="name" class="web" type="text" placeholder="User name" name="web">
            </div>
          </div>
          <div class="section-field mb-1">
            <div class="field-widget"> <i class="glyph-icon flaticon-padlock"></i>
              <input id="Password" class="Password" type="password" placeholder="Password" name="Password">
            </div>
          </div>
          <div class="section-field text-uppercase"> <a href="#" class="float-right text-white">Forgot Password?</a> </div>
          <div class="clearfix"></div>
          <div class="section-field text-uppercase text-right mt-2"> <a href="home.html" class="button  btn-lg btn-theme full-rounded animated right-icn"><span>log in<i class="glyph-icon flaticon-hearts" aria-hidden="true"></i></span></a> </div>
          <div class="clearfix"></div>
          <div class="section-field mt-2 text-center text-white">
            <p class="lead mb-0">Don’t have an account? <a class="text-white" href="register.html"><u>Register now!</u> </a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--=================================
 login--> 

<!--=================================
footer -->

<!--=================================
footer --> 

<div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-level-up"></i></a></div>

<!--=================================
 jquery --> 

<!-- jquery  --> 
<script type="text/javascript" src="js/jquery.min.js"></script> 
<script type="text/javascript" src="js/popper.min.js"></script> 

<!-- bootstrap --> 
<script type="text/javascript" src="js/bootstrap.min.js"></script> 
<script type="text/javascript" src="js/bootstrap-select.min.js"></script> 

<!-- appear --> 
<script type="text/javascript" src="js/jquery.appear.js"></script> 

<!-- appear --> 
<script type="text/javascript" src="js/jquery.appear.js"></script> 

<!-- Menu --> 
<script type="text/javascript" src="js/mega-menu/mega_menu.js"></script> 


<!-- custom --> 
<script type="text/javascript" src="js/custom.js"></script>
</body>

</html>
